@model IQueryable<Outgoing>

<h2>Наличие лекарств на дату</h2>

<form method="get" action="@Url.Action("OutgoingAvailability", "Outgoing")">
    <div class="form-group">
        <label for="selectedDate">Выберите дату:</label>
        <input type="date" id="selectedDateStart" name="selectedDateStart" class="form-control" />
        <input type="date" id="selectedDateEnd" name="selectedDateEnd" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Показать наличие</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Лекарства</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Дата</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var medicineAvailability in Model)
        {
            <tr>
                <td>@medicineAvailability.Medicine.Name</td>
                <td>@medicineAvailability.Count</td>
                <td>@medicineAvailability.SellingPrice</td>
                <td>@medicineAvailability.ImplementationDate</td>
            </tr>
        }
    </tbody>
</table>
