@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager
@model Pharmacy_Project.ViewModels.IncomingsViewModel;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Приход</h1>
@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">Создать новый приход</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Дата прибытия
            </th>
            <th>
                Количество
            </th>
            <th>
                Поставщик
            </th>
            <th>
                Цена
            </th>
            <th>
                Название лекарства
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Incomings) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provider)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicine.Name)
            </td>
                @if (User.IsInRole("admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
<page-link page-model="Model.Page" page-action="Index"></page-link>