@{
    ViewData["Title"] = "Исходящий";
    @model List<Incoming>;
}

<div class="text-center">
     <table class="table">
        <tr>
            <th>MedicineId</th>
            <th>Дата</th>
            <th>Количество</th>
            <th>Поставщик</th>
            <th>Цена</th>
        </tr>
        @foreach(var incoming in Model) {
            <tr>
                <td>
                    @incoming.MedicineId
                </td>
                <td>
                    @incoming.ArrivalDate
                </td>
                <td>
                    @incoming.Count
                </td>
                <td>
                    @incoming.Provider
                </td>
                <td>
                    @incoming.Price
                </td>
            </tr>
        }
    </table>
</div>
