@model Pharmacy_Project.Models.Medicine

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Лекарство</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Название лекарства
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
           Описание
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt class = "col-sm-2">
            Вещество
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveSubstance)
        </dd>
        <dt class = "col-sm-2">
            Единица измерения
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitMeasurement)
        </dd>
        <dt class = "col-sm-2">
            Количество
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt class = "col-sm-2">
            Хранилище
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StorageLocation)
        </dd>
        <dt class = "col-sm-2">
            Производитель
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producer.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад на страницу</a>
    </form>
</div>
