@using Microsoft.AspNetCore.Identity
@model Pharmacy_Project.ViewModels.MedicinesViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Лекарства</h1>

<h2>Наличие лекарств на дату</h2>

<form method="post" action="@Url.Action("MedicineAvailability", "Medicine")">
    <div class="form-group">
        <label for="date">Выберите дату:</label>
        <input asp-for = "@Model.date" name="date" type="date" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Показать наличие</button>
</form>

@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">Создать новое лекарство</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Описание
            </th>
            <th>
                Вещество
            </th>
            <th>
                Единица измерения
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder=@Model.SortViewModel.MedicineSort>
                    Количество
                </a>
            </th>
            <th>
                Хранилище
            </th>
            <th>
                Производитель
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Medicines) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveSubstance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitMeasurement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StorageLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producer.Name)
            </td>
                @if (User.IsInRole("admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
<page-link page-model="Model.Page" page-action="Index"></page-link>