@model Pharmacy_Project.ViewModels.MedicinesViewModel

<h2>Наличие лекарств на дату</h2>

<form method="post" action="@Url.Action("MedicineAvailability", "Medicine")">
    <div class="form-group">
        <label for="selectedDate">Выберите дату:</label>
        <input asp-for="@Model.date" name="date" type="date" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Показать наличие</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>
                <a asp-action="MedicineAvailability" asp-route-sortOrder=@Model.SortViewModel.MedicineSort asp-route-MedicineSort="@Model.SortViewModel.MedicineSort">
                    Количество на выбранную дату
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var medicineAvailability in Model.Medicines)
        {
            <tr>
                <td>@medicineAvailability.Name</td>
                <td>@medicineAvailability.Count</td>
            </tr>
        }
    </tbody>
</table>
