@{
    ViewData["Title"] = "Лекарства";
    @model List<Medicine>;
}

<div class="text-center">
     <table class="table">
        <tr>
            <th>Название</th>
            <th>Краткое описание</th>
            <th>Активное вещество</th>
            <th>Название производителя</th>
            <th>Количество вещества</th>
            <th>Количество</th>
            <th>Локальное хранилище</th>
        </tr>
        @foreach(var medicine in Model) {
            <tr>
                <td>
                    @medicine.Name
                </td>
                <td>
                    @medicine.ShortDescription
                </td>
                <td>
                    @medicine.ActiveSubstance
                </td>
                <td>
                    @medicine.Producer.Name
                </td>
                <td>
                    @medicine.UnitMeasurement
                </td>
                <td>
                    @medicine.Count
                </td>
                <td>
                    @medicine.StorageLocation
                </td>
            </tr>
        }
    </table>
</div>
