@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager

@model Pharmacy_Project.ViewModels.ProducersViewModel;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Производители</h1>

@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">Создать нового производителя</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Страна
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Producers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
                @if (User.IsInRole("admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
<page-link page-model="Model.Page" page-action="Index"></page-link>